@font-face {
    font-family: source code pro;
    src: url("../font/sourcecodepro.ttf");
}

@font-face {
    font-family: zilla slab;
    src: url("../font/zillaslab.ttf");
}

body {
    background-color: transparent;
    color: black;
    width: 284px;
    height: 288px;
    overflow: hidden;
    font-family: zilla slab;
}

#popup-content {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

#search-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: auto;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

#key {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(225, 225, 226);
    border-radius: 3px;
    padding: 6px;
    padding-right: 36px;
    height: 32px;
    width: 100%;
    font: inherit;
    font-size: 14px;
    transition: 0.1s;
    margin-top: 10px;
}

#key:hover {
    border-color: rgb(177, 177, 178);
}

#key:focus {
    border: 1px solid rgb(245, 245, 245);
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}


#search-submit {
    border: 0px solid transparent;
    border-radius: 3px;
    height: 32px;
    width: 32px;
    font: inherit;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
    transition: 0.3s;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    background-color: rgb(225, 225, 226);
}

#search-submit:hover {
    background-color: #b1d6fc;
}

#search-submit:focus {
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}

#characters {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0px;
    padding: 4px;
    overflow: hidden;
}

#characters > h1 > span {
    font-size: 14px;
    margin-left: 10px;
    border-radius: 8px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #0a84ff;
    border: 0px solid transparent;
    color: #ffffff;
    font-weight: bold;
    cursor: help;
}

.character {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 40px;
    height: 40px;
    color: black;
    border: 0px;
    border-radius: 3px;
    font-size: 18px;
    font-family: source code pro;
    margin: 3px;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
    font-weight: 500;
}

.character:hover {
    background-color: rgb(221, 222, 223);
}

.character:active, .character:focus {
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
}

b.character-copied {
    position: fixed;
    bottom: 3px;
    right: 30%;
    left: 30%;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 16px;
    color: #ffffff;
    z-index: 999;
    background-color: #0a84ff;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
    border: 0px solid transparent;
    text-align: center;
    width: auto;
    font-weight: bold;
}

.tab {
    color: inherit;
    background-color: rgb(235, 235, 235);
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    z-index: 8;
    position: relative;
}

.tab:hover {
    background-color: rgb(221, 222, 223);
}

.tab:focus, .tab:active {
    box-shadow: 0px 0px 0px 2px #0a84ff, 0px 0px 0px 5px #b1d6fc;
    z-index: 9;
    border-radius: 3px;
    border-color: rgb(221, 222, 223);
}

.tab-selected:focus, .tab-selected:active {
    border-color: #0a84ff;
}

.tab-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid rgb(221, 222, 223);
}

.tab-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tab-center {
    border-radius: 0px;
    border-right: 1px solid rgb(221, 222, 223);
}

.tab-selected {
    color: #ffffff;
    background-color: #0a84ff;
}

.tab-selected:hover {
    color: #ffffff;
    background-color: #0a84ff;
}

h1 {
    margin: 2px;
    padding: 0px;
    text-align: left;
    font-size: 16px;
}